<div style="display: flex;height: 750px;justify-content: center;align-items: center; ">
  <div class="main-container">
    <div class="selection-cont">
      <select name="" id="country1">
        <option value="USD">US Dollar</option>
        <option value="INR">Rupee</option>
        <option value="Eur">Euro</option>
  
      </select>
      <p>to</p>
      <select name="" id="country1">
        <option value="USD">US Dollar</option>
        <option value="INR">Rupee</option>
        <option value="Eur">Euro</option>
  
      </select>
      
    </div>
    <button>Submit</button>
    <div class="result-container">
      <p>1USD = 1 1USD</p>
  
    </div>
  </div>
</div>